/*
    Datos personales:
    Nombre: Andrea Acero Suárez
    UO: UO287876
    Fecha: 20/06/2024
*/

/*
    Descripción: Esquema de posicionamiento que contiene la reglas a aplicar en el proyecto MotoGP-Desktop
*/

/*
    Selector header: usa Flexbox para distribuir el contenido del encabezado
*/
header {
    display: flex;                 /* Activa Flexbox */
    justify-content: space-between; /* Separa h1 a la izquierda y nav a la derecha */
}

/*
    Selector nav: usa Flexbox para distribuir los enlaces del menú
*/
nav {
    display: flex;                 /* Activa Flexbox para los enlaces */
    gap: 1rem;      
    width: 100%;                /* Espacio básico entre los enlaces */
}

 /* TAREA 6: tamaño del mapa dinámico */
     body > div {
        width: 100%;
        height: 600px;
        
        }

   

/* Media query para pantallas pequeñas (móviles)*/
@media  (max-width: 799px) {
 header {
        flex-direction: column;    /* Redefinición: antes era row */
        align-items: flex-start;   /* Redefinición: antes era center */
    }

    nav {
        flex-direction: column;    /* Redefinición: antes era row */
        width: 100%; 
    }

    header + p {
        display: none;             /* Oculta las migas de pan en móviles */
    }

    video {
        width: 100%;               /* Redefinición: antes era auto */
        height: auto;              /* Mantiene proporción */
    }

    audio {
        width: 100%;               /* Redefinición: antes era auto */
    }

    article h2 img {
        width: 100%;               /* Redefinición: antes era 150px */
        height: auto;              /* Mantiene proporción */
        display : block;          /* Evita espacio inferior */
    }

 body > div{
        height: 400px;
        /* Redefinición del alto del mapa para móviles */
        margin: 0;
        border: none;
    }

 
}