/*
========================================================
 layout-cards.css
 Estilos de cuadrícula (GRID LAYOUT) para el juego
 de memoria con cartas del proyecto MotoGP-Desktop.
========================================================
*/

/* Estructura principal del main como cuadrícula */
main {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales */
  grid-template-rows: auto auto repeat(3, 1fr); /* 1 fila para el título + 3 filas para cartas */
  gap: 1rem; /* separación entre elementos */
  justify-items: center; /* centrar las cartas horizontalmente */
  align-items: center; /* centrar las cartas verticalmente */
  padding: 1rem;
}

/* El título ocupa toda la primera fila del grid */
main h2 {
  grid-column: 1 / -1; /* ocupa de la primera a la última columna */
  text-align: center;
}


main p {
  grid-column: 1 / -1; /*Ocupa de la primera a la última columna */
  text-align: center; /* Centrado del texto */
  font-size: 1.5em; /*Tamaño de fuente aumentado */
}


/* Adaptabilidad) */
/* Cuando el ancho de pantalla es menor o igual a 600px */
@media screen and (max-width: 600px) {
  main {
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto; 
  }
  main article {
      width: 40vw; /*Redifinicion del ancho de las cartas para mejorar la adaptabilidad en moviles*/
      }
}
